{{!-- used module 14 code for this --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>

  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/">Home</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <section>
        <h2>Create New Post</h2>

        <form class="new-post-form">
          <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
          </div>
          <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
          </div>
          <button type="submit" class="btn">Create</button>
        </form>
      </section>

      {{#if posts.length}}
      <section>
        <h2>Your Posts</h2>
        <ol>
          {{#each posts as |post|}}
          <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
          </li>
          {{/each}}
        </ol>
      </section>
      {{/if}}

    </main>
    <footer>
      Blog you later
    </footer>
  </div>
  {{#if loggedIn}}

  <script src="../public/javascript/add-post.js"></script>
  {{/if}}
</body>

</html>