<h2>New Post</h2>
<form class="newPost">
  <label class="form-label">Title</label>
  <input type="text" name="post-title" class="form-input" />

  <label class="form-label">Link</label>
  <textarea name="post-body" class="form-input"></textarea>

  <label class="form-label">Body</label>
  <textarea name="post-body" class="form-input"></textarea>

  <button type="submit" class="btn">Create</button>
</form>

<script src="/javascript/new.js"></script>